#header {
    color: grey;
    font-size: 3em;
    font-weight:300;
}

#circle {
    color: lightblue;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}