body {
    margin: 10px;
    background-color: darkgrey;
}

.card {
    height: 750px;
    align-content: center;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.overflow-auto {
    height: 400px;
    width: 200px;
}

#header {
    color: grey;
    font-size: 3em;
    font-weight:300;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

#circle {
    color: lightskyblue;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-width: 3px;
    margin: 2em;
}

#rectangle {
    color: white;
    background-color: lightskyblue;
    border-color: grey;
    padding: 5px 20px;
    /* margin-bottom: 10px;
    margin-left: 150px; */
    cursor: pointer;
    border-radius: 0%;
    font-size: 25px;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    
}

#help {
    color: lightskyblue;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 40px;
}

